% -*- mode: erlang -*-
{erl_opts, [debug_info,
	    {src_dirs, ["src", "examples"]},
	    {i, "../include"}
	   ]}.

{require_min_otp_vsn, "R12B"}.

{port_specs, [
	      % Stringprep port driver
	      {".*", "priv/lib/exmpp_stringprep.so",
	       ["c_src/exmpp_driver.c", "c_src/stringprep_uni_data.c", 
		"c_src/stringprep_uni_norm.c", "c_src/exmpp_stringprep.c"],
	       [{env, 
		 [{"LDFLAGS", "$LDFLAGS $ERL_LDFLAGS"}]}
	       ]},
	      % OpenSSL TLS port driver
	      {".*", "priv/lib/exmpp_tls_openssl.so",
	       ["c_src/exmpp_driver.c", "c_src/exmpp_tls.c", "c_src/exmpp_tls_openssl.c"],
	       [{env,
		 [{"LDFLAGS", "$LDFLAGS -lssl"}]}
	       ]}
	     ]}.

{deps, [{lager, ".*", 
	 {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
	{erim_xml, ".*",
	 {git, "git://github.com/lizenn/erim_xml.git", "master"}}
       ]}.

%% EDoc options
{edoc_opts, [{subpackages, true},
	     {packages, false}
	    ]}.
